:root {
    /* Primary */
    --clr-primary-blue: hsl(223, 87%, 63%);

    /* Secondary */
    --clr-secondary-pale-blue: hsl(223, 100%, 88%);
    --clr-secondary-light-red: hsl(354, 100%, 66%);

    /* Neutral */
    --clr-neutral-gray: hsl(0, 0%, 59%);
    --clr-neutral-dark-blue: hsl(209, 33%, 12%);

    --ff-primary: 'Libre Franklin', sans-serif;
    --fs-base: 1.25;
    --fw-light: 300;
    --fw-semibold: 600;
    --fw-bold: 700;
}