:root {
    /* Primary */
    --clr-primary-blue: hsl(223, 87%, 63%);

    /* Secondary */
    --clr-secondary-pale-blue: hsl(223, 100%, 88%);
    --clr-secondary-light-red: hsl(354, 100%, 66%);

    /* Neutral */
    --clr-neutral-gray: hsl(0, 0%, 59%);
    --clr-neutral-dark-blue: hsl(209, 33%, 12%);

    --ff-primary: 'Libre Franklin', sans-serif;
    --fs-base: 1.25;
    --fw-light: 300;
    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    display: grid;
    place-content: center;
    text-align: center;
}

main {
    padding: 5rem 25rem;
}

header {
    display: grid;
    place-content: center;
    margin-bottom: 3rem;
}

@media (max-width: 1250px) {
    main {
        padding: 7rem 1.5rem;
    }

    header > img {
        width: 3.5rem;
    }
}

.info {
    color: var(--clr-neutral-dark-blue);
}

.info > h1 {
    font-size: 3rem;
}

.info > h1 > span {
    color: var(--clr-neutral-gray);
    font-weight: var(--fw-light);
}

.info > p {
    font-size: 1.2rem;
}

@media (max-width: 1250px) {
    .info > h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .info > p {
        font-size: 0.8rem;
    }
}

.subscribe-prompt {
    display: grid;
    grid-template-columns: 1fr auto;
    place-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.subscribe-prompt > input {
    width: 100%;
    color: var(--clr-neutral-dark-blue);
    border: 1px solid var(--clr-secondary-pale-blue);
    border-radius: 48px;
    padding: 1rem 2rem;
}

.subscribe-prompt > input::placeholder {
    color: var(--clr-secondary-pale-blue);
}

.subscribe-prompt > button {
    background-color: var(--clr-primary-blue);
    color: white;
    border: none;
    border-radius: 48px;
    padding: 0 4rem;
    font-weight: var(--fw-semibold);
    box-shadow: 0 8px 10px hsl(223, 100%, 88%);
}

.subscribe-prompt > button:hover {
    opacity: 0.7;
    cursor: pointer;
}

p.error-msg {
    display: none;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: var(--fw-light);
    text-align: left;
    color: var(--clr-secondary-light-red);
    padding: 0.5rem 2rem;
}

p.error-msg-active {
    display: block;
}

input.error-active {
    border-color: var(--clr-secondary-light-red);
}

picture {
    margin: 5rem 0;
}

@media (max-width: 1250px) {
    .subscribe-prompt {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        margin-top: 3rem;
    }

    .subscribe-prompt > input, .subscribe-prompt > button {
        width: 100%;
        max-width: 450px;
        padding: 0.5rem 2rem;
        font-size: 0.8rem;
    }

    picture {
        margin: 5rem 0 10rem 0;
    }

    p.error-msg {
        text-align: center;
    }
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.social > img {
    width: 25px;
}

.copyright {
    color: var(--clr-neutral-gray);
    font-size: 0.7rem;
}

@media (max-width: 1250px) {
    .social {
        gap: 1rem;
    }

    .social > img {
        width: 25px;
    }

    .copyright {
        font-size: 0.6rem;
    }
}